html {
    font-size: 10px;
    background: url('images/drum.jpg') bottom center;
    background-size: cover;
  }
  
  body,html {
 
    font-family: sans-serif;
    background-color: rgb(18, 233, 233);
  }
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid rgba(0, 0, 0, 0.24);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: rgb(25, 242, 14);
    background: rgba(145, 83, 3, 0.686);
    
  }
  
  .playing {
    transform: scale(1.1);
    border-color: hwb(111 4% 4% / 0.964);
    box-shadow: 0 0 1rem rgb(203, 9, 138);
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #100f0e;
  }
